nav {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background-color: #a9fcce;
}
nav img {
    width: 50%;
    
    
}
nav a {
    color: #a807f3;
    text-decoration: none;
    font-family: Bebas Neue;
    padding-top: 3rem;
    padding-right: 1rem;
    font-size: 1.3rem;
    font-weight: 550;
    
}
.input {
    position: absolute;
    right: 0;
    padding-right: 2rem;
    padding-top: 3rem;
    
}
input {
    border: 2px solid #a807f3;
    font-family: Bebas Neue;

}
nav button {
    border: 2px solid #a807f3; 
    font-family: Bebas Neue;
}
.start {
    display:flex ;
    flex-direction: row;
}